html,
body {
    height: 100%;
    margin: 0;
}

#root-window {
    height: 100%;
}

#render-target {
    height: 100%;
}

#ui-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100vh;
}

#fillMode {
    color: #ffffff;
}

.ui-btn {
    cursor: pointer;
    background: none;
    border: none;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    margin: 20px;
    color: #ffffff;
    border-radius: 6px;
}
